DB_USER=sa
DB_NAME=master
DB_MAX_IDLE_CONNECTIONS=3
DB_MAX_OPEN_CONNECTIONS=30
DB_CONNECT_RETRIES=10
DB_CONNECT_INTERVAL_IN_SEC=3

#localhost
DB_SERVER=localhost
MSSQL_SA_PASSWORD=
APP_PORT=80
DB_PORT=5473